<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=dbase; Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>